*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex San", sans-serif;
}

body{
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;

}

nav{
    margin: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    scale: 0.8;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-right: 50px;
    
}

a{
    color: black;
    text-decoration: none;
}

ul li{
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    
}

ul li:first-child{
    color: #20bc7e;
    font-weight: 700;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    width: 85vw;
}

.hospital-description{
 width: 50%;
 text-align: center;
}

.hospital-description h1{
    color: #20bc7e;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hospital-description p{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}

.achievement{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    
}

.achievement-card{
    height: 100px;
    width: 200px;
    box-shadow: 0 0 10px black;
    padding: 15px 30px;
    border-radius: 8px;
    text-align: center;
    
}

.achievement-card span{
    font-size: 25px;
    color: #20bc7e;
    font-weight: 600;
    width: 50px;
    margin-bottom: 20px;
    
    
}
.achievement-card p{
font-size: 20px;
font-weight: 600;
}